# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    # Allow up to 3 open pull requests for pip dependencies
    open-pull-requests-limit: 3
    reviewers:
      - "host-based-inventory-committers"
    labels:
      - "dependencies"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for update to GitHub Actions every weekday
      interval: "weekly"
    reviewers:
      - "host-based-inventory-committers"
    labels:
      - "GitHub-Actions-Updates"
