[flake8]
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    README,
    .flake8,
    .gitignore,
    Pipfile,
    Pipfile.lock,
    *.groovy
    *.ini,
    *.mako,
    *.md,
    *.yml
max-line-length = 119
