bin/
*/__pycache__/*
*__pycache__*
pip-selfcheck.json
pyvenv.cfg
.python-version
tags
.coverage
.pytest_cache/
/.sonar/sonar-scanner.properties
/.scannerwork/

swagger/inventory-schemas/
coverage.xml

sonarqube/
