[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jsonify = "*"
flask-restful = "*"
requests = "*"
flask-limiter = "*"
connexion = "*"
flask-script = "*"
flask-api = "*"
flask-sqlalchemy = "*"
"psycopg2" = "*"
flask-migrate = "*"
itsdangerous = "*"
pytest = "*"
request = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7.1"
