[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.1.3"
jsonify = "==0.5"  # Not semver
requests = "~=2.32.4"
flask-sqlalchemy = "~=3.1.1"
psycopg2 = "~=2.9.10"
flask-migrate = "~=4.1.0"
gunicorn = "~=25.1.0"
connexion = {version = "~=3.3.0",extras = ["swagger-ui", "flask", "uvicorn"]}
markupsafe = "==3.0.3"
openapi-schema-validator = "==0.6.3"
openapi-spec-validator = "==0.7.2"
pyyaml = "~=6.0.3"
prometheus-client = "~=0.24.1"
logstash-formatter = "~=0.5.17"
validators = "~=0.35.0"
marshmallow = "~=4.2.2"
ujson = "==5.11.0"
watchtower = ">=0.6.0,<4.0.0"
boto3 = "~=1.42"
prometheus-flask-exporter = "~=0.23.2"
python-dateutil = "~=2.9.0"
prance = "==25.4.8.0"
app-common-python = "~=0.2.9"
sqlalchemy = "<3.0.0"
alembic = ">=1.12.0"
urllib3 = ">=1.26.5"
flask-unleash = "*"
segment-analytics-python = "*"
flask-caching = "*"
redis = "*"
setuptools = "~=82.0.0"
certifi = "~=2026.2.25"
ratelimit = "*"
confluent-kafka = "==2.13.0"
kessel-sdk = {version = "~=2.1.0", extras = ["auth"]}
googleapis-common-protos = "*"
# pinning versions of transitive dependencies to avoid hermetic build issues
unleashclient = "==6.5.2"
rpds-py = "==0.30.0"

[dev-packages]
pytest = "~=9.0.2"
pytest-cov = "~=7.0.0"
pytest-mock = "~=3.15.1"
pytest-subtests = "~=0.15.0"
coverage = "*"
pre-commit = "~=4.5.1"
sqlalchemy-utils = "==0.42.1"
pgxnclient = "*"
ruff = "*"
mypy = "*"
honcho = "*"
types-ujson = "*"
types-redis = "*"
types-pyyaml = "*"
types-python-dateutil = "*"
types-requests = "*"
types-pytz = "*"
tabulate = "*"
pydantic = "*"
hvac = "*"
ocviapy = "*"

[requires]
python_version = "3.12"
