attrs==17.4.0
black==18.4a0
certifi==2018.1.18
chardet==3.0.4
click==6.7
coreapi==2.3.3
coreschema==0.0.4
Django==2.0.4
django-crispy-forms==1.7.2
django-filter==1.1.0
django-guardian==1.4.9
django-rest-framework==0.1.0
django-rest-swagger==2.1.2
djangorestframework==3.8.0
idna==2.6
itypes==1.1.0
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
pytz==2018.3
requests==2.18.4
six==1.11.0
uritemplate==3.0.0
urllib3==1.22
