apiVersion: v1
kind: Template
metadata:
  name: insights-host-inventory-cjis
objects:
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: host-synchronizer-${SYNCHRONIZER_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - synchronizer
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: host-synchronizer-only-${SYNCHRONIZER_ONLY_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - synchronizer-only
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: create-ungrouped-groups-${CREATE_UNGROUPED_GROUPS_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - create-ungrouped-host-groups
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: assign-ungrouped-hosts-${ASSIGN_UNGROUPED_HOSTS_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - assign-ungrouped-host-groups
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: delete-hosts-without-id-facts-${DELETE_HOSTS_WITHOUT_ID_FACTS_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - delete-hosts-without-id-facts
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: export-group-data-s3-${GROUP_S3_EXPORT_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - export-group-data-s3
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: delete-hosts-s3-${DELETE_HOSTS_S3_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - delete-hosts-s3
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: duplicate-hosts-remover-${DUPLICATE_HOSTS_REMOVER_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - duplicate-hosts-remover
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: host-sync-group-data-${HOST_SYNC_GROUP_DATA_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - sync-host-groups
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: hosts-table-migration-data-copy-${HOSTS_TABLE_MIGRATION_DATA_COPY_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - hosts-table-migration-data-copy
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: hosts-table-migration-switch-${HOSTS_TABLE_MIGRATION_SWITCH_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - hosts-table-migration-switch
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdJobInvocation
  metadata:
    labels:
      app: host-inventory
    name: update-rhsm-only-staleness-${UPDATE_RHSM_ONLY_STALENESS_RUN_NUMBER}
  spec:
    appName: host-inventory
    jobs:
      - update-rhsm-only-staleness
parameters:
- name: SYNCHRONIZER_RUN_NUMBER
  value: '1'
- name: SYNCHRONIZER_ONLY_RUN_NUMBER
  value: '1'
- name: CREATE_UNGROUPED_GROUPS_RUN_NUMBER
  value: '1'
- name: ASSIGN_UNGROUPED_HOSTS_RUN_NUMBER
  value: '1'
- name: DELETE_HOSTS_WITHOUT_ID_FACTS_RUN_NUMBER
  value: '1'
- name: GROUP_S3_EXPORT_RUN_NUMBER
  value: '1'
- name: DELETE_HOSTS_S3_RUN_NUMBER
  value: '1'
- name: DUPLICATE_HOSTS_REMOVER_RUN_NUMBER
  value: '1'
- name: HOST_SYNC_GROUP_DATA_RUN_NUMBER
  value: '1'
- name: HOSTS_TABLE_MIGRATION_DATA_COPY_RUN_NUMBER
  value: '1'
- name: HOSTS_TABLE_MIGRATION_SWITCH_RUN_NUMBER
  value: '1'
- name: UPDATE_RHSM_ONLY_STALENESS_RUN_NUMBER
  value: '1'
