name: Checks

on:
  pull_request:
  push:
    branches: [ main, master ]

jobs:
  lints:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - uses: pre-commit/action@v3.0.1

  tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

      zookeeper:
        image: confluentinc/cp-zookeeper:7.4.4
        env:
          ZOOKEEPER_CLIENT_PORT: 32181
          ZOOKEEPER_SERVER_ID: 1
        ports:
          - 32181:32181

      kafka:
        image: confluentinc/cp-kafka:7.4.4
        env:
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:29092
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
          KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
          KAFKA_BROKER_ID: 1
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:32181
          KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
        ports:
          - 29092:29092
        options: >-
          --health-cmd "kafka-broker-api-versions --bootstrap-server localhost:29092"
          --health-interval 10s
          --health-timeout 10s
          --health-retries 10

    steps:
      - uses: actions/checkout@v4
        with:
            fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pipenv'
      - name: Install pipenv
        run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python
      - run: pipenv install --dev

      - name: Run tests
        env:
          INVENTORY_DB_NAME: postgres
          INVENTORY_DB_HOST: localhost
          INVENTORY_DB_PORT: 5432
          INVENTORY_DB_USER: postgres
          INVENTORY_DB_PASS: postgres
          FLASK_APP: manage.py
          KAFKA_BOOTSTRAP_SERVERS: localhost:29092
        run: |
          pipenv run flask db upgrade
          pipenv run pytest --cov=. --cov-report=xml
      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v4
      #   with:
      #     files: ./coverage.xml
      #     fail_ci_if_error: true
      #     verbose: true
      #     flags: unittests
      #     name: codecov-umbrella
      #     token: ${{ secrets.CODECOV_TOKEN }}
